In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('../src')
import ScraperFC as sfc

from selenium.webdriver.common.by import By
from bs4 import BeautifulSoup
from io import StringIO
import pandas as pd

In [63]:
cap = sfc.Capology()
salaries = cap.scrape_salaries("2022-23", "Bundesliga", "usd")

Changed currency to usd.

In [64]:
salaries

                      EST. BASE SALARY                                     \
               PLAYER GROSS P/W\n(USD) GROSS P/Y\n(USD) ADJ. GROSS\n(USD)
0          Sadio Mané        $ 455,932     $ 23,708,454      $ 23,708,454
1        Manuel Neuer        $ 435,208     $ 22,630,797      $ 22,630,797
2       Thomas Müller        $ 424,846     $ 22,091,968      $ 22,091,968
3      Joshua Kimmich        $ 404,121     $ 21,014,312      $ 21,014,312
4        Serge Gnabry        $ 391,065     $ 20,335,388      $ 20,335,388
..                ...              ...              ...               ...
566    Florian Schock            $ 622         $ 32,330          $ 32,330
567     Linus Gechter            $ 414         $ 21,553          $ 21,553
568  Naouirou Ahamada            $ 414         $ 21,553          $ 21,553
569      Daniel Klein            $ 414         $ 21,553          $ 21,553
570   Marcel Sabitzer              $ 0              $ 0               $ 0

     BIO
    POS. AGE  COUNTRY           CLUB
0      F  30  Senegal  Bayern Munich
1      K  36  Germany  Bayern Munich
2      F  33  Germany  Bayern Munich
3      M  27  Germany  Bayern Munich
4      F  27  Germany  Bayern Munich
..   ...  ..      ...            ...
566    K  21  Germany      Stuttgart
567    D  18  Germany  Hertha Berlin
568    M  20   France      Stuttgart
569    K  21  Germany       Augsburg
570    M  28  Austria  Bayern Munich

[571 rows x 8 columns]